**strings**

In [8]:
import numpy as np
s1 = " Neethu is my name "
s2 = " I am an Indian "

In [9]:
# concatenate the sentence by using add
np.char.add(s1,s2)

array(' Neethu is my name  I am an Indian ', dtype='<U35')

In [10]:
np.char.upper(s1) # conveert sentence into uppercase

array(' NEETHU IS MY NAME ', dtype='<U19')

In [12]:
np.char.lower(s1) # convert the sentence into lowercase

array(' neethu is my name ', dtype='<U19')

In [13]:
np.char.split(s1)# splitting the sentence

array(list(['Neethu', 'is', 'my', 'name']), dtype=object)

In [16]:
s3='Neethu is my\nname'
np.char.splitlines(s3) # \n is coming between the elements , that'y it is splitting into 2

array(list(['Neethu is my', 'name']), dtype=object)

In [20]:
np.char.replace(s1,'name','fullname') # replacing the existing term into another one
# np.char.replace(mention sentence name, existing string, new stroing which u want to replace)

array(' Neethu is my fullname ', dtype='<U23')

In [21]:
print('******good bye ******')
 # it is a timetaking process. we can do this with numpy easily

******good bye ******

In [23]:
print(np.char.center('good bye',80,'*'))
 # it will print good type at center . total space taken is 80. in the rest of the space it is filling with *

************************************good bye************************************